@using BlazorServerDemo.Models

<p>
    <b>Name: </b><span>@contact.FirstName @contact.LastName</span><br />
</p>
@if (displayEmail)
{
    <b>Email:</b><i>@contact.Email</i><br />
}
@if (displayInfo)
{
    <span>"Email : @contact.Email e do @contact.FirstName"</span><br />
}
<button class="btn btn-primary" onclick="@(()=>{ displayInfo = !displayInfo;})">Display Info</button>
<button @onclick="@(()=> DeleteCurrentContact.InvokeAsync(contact))">Delete</button>

@code {
    [Parameter]
    public Contact contact { get; set; }
    [Parameter]
    public bool displayEmail { get; set; }
    [Parameter]
    public EventCallback<Contact> DeleteCurrentContact { get; set; }

    private bool displayInfo = false;
}
